<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JobManagerServiceCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <JobManagerServiceCore.Properties.Settings>
            <setting name="JobManagerServiceCore_VerifoneFS_VerifoneFieldService"
                serializeAs="String">
                <value>http://213.74.174.221/VerifoneFieldService/VerifoneFieldService.asmx</value>
            </setting>
        </JobManagerServiceCore.Properties.Settings>
    </applicationSettings>
</configuration>